{% extends './layout.html' %}

{%block reference%}{%endblock%}
{%block title%} Home {%endblock%}
{%block section%}
<section class="main-content-area">
    <div class="container">
        <div class="row">
            <div class="content-image col-6">
                <img src="/images/profile.png" alt="">
            </div>
            <div class="content-article col-6">
                <h1 class="text-uppercase">Start Tools</h1>
                <br />
                <h2>PATv2 Tools</h2>
            </div>
        </div>
    </div>
</section>
{%endblock%}