<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" cosntent="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block reference %}{% endblock %}
    <title>{% block title %}{% endblock%}</title>
</head>

<body class="bg-primary font-weight-light mb-0">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-views"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">PATv2 Tools</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-views">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            Home <span class="sr-only">(Home)</span></a></li>
                    <li ><a href="/script"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        Script <span class="sr-only">(Script)</span></a></li>
                    <li class="dropdown">
                        <a href="/gantt" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                            Gantt <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/gantt/job" target="_blank">Jobs's Dependencies</a></li>
                            <li><a href="/gantt/template" target="_blank">Templates' Dependencies</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="#"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Header -->

    <container class="masthead bg-primary text-white text-center">
        {% block section %}{% endblock %}
    </container>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>