{% extends '../layout.html' %}

{% block reference %}

{% endblock %}
{%block title%} Command {% endblock %}
{% block section %}
<section class="command-area section-padding-50-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 mb-30">
                {% include './templates/path.html' with {path_items:['List','Function','Command']} only %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                {% include './templates/parameter.html' with {function_name:'Update-Job',detail:'Command'} only %}
            </div>
            <div class="col-12 col-lg-4">
                {% include './templates/detail.html' with {detail:'Detail'} only %}
            </div>
        </div>
        <div class='command-output section-padding-50-0'>
            <div class="row">
                <div class="col-12">
                    {% include './templates/output.html' with {detail:'Execute Output'} only %}
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}