{% extends '../layout.html' %}

{%block title%} Function {% endblock %}
{% block section %}
{% set paths=[{name:'List',url:'list'},
{name:'Function',url:'function?filepath='+file_path}]
%}
<section class="command-area section-padding-50-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 mb-30">
                {% include './templates/path.html' with {path_items:paths} only %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                {% include './templates/function-table.html' with
                {title:'Function',list:list,file_path:file_path} only %}
            </div>
            <div class="col-12 col-lg-6">
                    {% include './templates/detail.html' with
                    {title:'Detail',content:{path:script_detail_path,content:''},addClass:'function-detail'} %}
                </div>
        </div>
    </div>
</section>
{%endblock%}
{% block script-reference %}
<script src='/scripts/base.js'></script>
{%endblock%}