{% extends '../layout.html' %}

{%block title%} List {% endblock %}
{%block table-banner%} List Detail {% endblock %}

{% block section %}
{% set paths=[{name:'List',url:'list'}]%}
<section class="command-area section-padding-50-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 mb-30">
                {% include './templates/path.html' with {path_items:paths} only %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                {% include './templates/list-table.html' with
                {title:'List',list:list,dirname:dirname,list_paths:list_paths} only %}
            </div>
        </div>
    </div>
</section>
{%endblock%}