<div class="command-content">
    <!-- command Content Area -->
    <div class="command-content-area mb-50">
        <h3 class="mb-50">{{detail}}</h3>
        <div class="mb-50">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sapien nunc, aliquam et
                sollicitudin a, mollis sit amet odio. Cras in varius libero, ac molestie enim. Aenean
                semper leo et tellus luctus, ultricies condimentum odio placerat.</p>
            <p>Aliquam et semper neque. Donec vitae ultrices justo. Curabitur a semper leo, quis
                maximus tellus. Fusce euismod nisi eu sapien dignissim pulvinar.</p>
        </div>
    </div>
</div>