<h3 class="mb-50">{{detail}}</h3>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Function Name</th>
                <th scope="col">Is Major Function</th>
                <th scope="col" class='b-none'>Path</th>
                <th scope="col">Last Modified Time</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list %}
            <tr>
                <th scope="row">{{loop.index+1}}</th>
                <td>{{loop.name}}</td>
                <td>{% if loop.first %} True {%else %} False{%endif%}</td>
                <td class='b-none'>{{loop.path}}</td>
                <td>{{loop.lastWriteTime}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>