<p>
    <h3 class="text-center">This is a script execution, data display view tool</h3>
    <br/>
    <h4>It mainly provides the following optimization methods</h4>
    <h4>1. script call parameterization;</h4>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;when you try to execute some scripts in cmd by launching program on windows,
        maybe you feel boring to set context or get permission,also if you don't know how to use it,
        more detail or examples need to be received by 'get-help [command]',but now this tools give you
        more flexibly operations to complete it.
        paramaters are all showed at you first sight.'type','file' or 'default',also 'mandatory or not'
        is the key to success your goal. navigate to menu 'Scripts' to get your scripts and execute
    </p>
    <h4>2. data relationship graphical</h4>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;when you get or put some file (*.json in general),but you want to render
        them
        on portal,so come to use it. Now we have completed two kinds of formated json files (for example
        :job.json
        and template.json). it is not truly clear to make sense file with complex content,so navigate to
        menu "Gantts" to get what you want.
    </p>
    <h4> NOW it is time to intruduce how to use this tool.
        four menu-toolbars in the top of portal</h4>
    <p>1. Scripts: search how to use scripts and execute them</p>
    <p>2. Gantts: display you given data (json)</p>
    <p>3. Userfull Links:an easy bridge to Patv2' port by clicking 'port-int' or 'port-prod',of course,
        'Docs' is index of 'wiki'</p>
    <p>4. Contact: you can contact us if you have any questions</p>
    <p class="text-danger">More importance：when you find some not errors or uncomfortable,please let me
        know</p>
    <p>so please <a href="mailto:v-shzha1@microsoft.com">Mail me<a></p>
</p>