<div class="command-content mb-50">
    <h3 class="mb-10">{{title}}</h3>
    <h6 class="command-function mb-30">Function : {{function_name}}</h6>
    <!-- command Content Area -->
    <div class="command-content-area">
        {% set setNames=parameters.ParameterSetName %}
        {% set parameterArgs=parameters.BlockParameter %}
        <nav class="nav nav-tabs command-bar mb-50" id='commandsbar'>
            {% for item in setNames%}
            <a class="nav-link" data-toggle='tab' href="#{{item.Name}}">
                {% if item.Name == "__AllParameterSets" %} Default <small>(no parameter set )</small>
                {%else%}
                {{item.Name}}
                {% endif %}
            </a>
            {% endfor %}
            <a class="nav-link active d-none" data-toggle='tab' href="#empty">empty</a>
        </nav>
        <!-- Contact Form Area -->
        <div class="command-form-area tab-content">
            {% for commandset in setNames %}
            {% set parameterset=commandset.ParameterNames %}
            <div class="tab-pane fade {% if loop.first %}in active {% endif %}" id='{{commandset.Name}}'>
                {% for arg in parameterset %}
                {% set items =parameterArgs|paramFilter("$"+arg.Arg) %}
                {% if items.length>=1 %}
                {% set item =items[0] %}
                {% set parameterName=item.Name.slice(1) %}
                {% set type=item.StaticType.split('.')[1] %}
                {% set defaultValue=item.DefaultValue %}
                {% if arg.IsMandatory%}
                {% set IsMandatory="Mandatory" %}
                {% else %}
                {% set IsMandatory= "Option" %}
                {% endif %}
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for='{{commandset.Name}}-{{parameterName}}'>{{parameterName}}
                            <small>({{type}})-({{IsMandatory}})</small> </label>
                        <input type="text" class="form-control" id="{{commandset.Name}}-{{parameterName}}" name='{{parameterName}}'
                            value='{{defaultValue}}'>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="row">
                    <div class="col-12">
                        <button class="btn layout-btn mt-30" type="submit" id="{{commandset.Name}}-$__submit">Send</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class='tab-pane fade d-none' id='empty'>
                empty string
            </div>
        </div>
    </div>
</div>