<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>script</title>
</head>
<body>
    <form action="script" method="POST">
        <input type="text" name="cmd" value="powershell.exe">
        <input type="text" name="file" value="scripts/test.ps1">
        <input type="text" name="command" value="Write-Args -arg  ">
        <input type="submit" value="submit">
    </form>
</body>
</html>